.twoCol.twoCol
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1.5rem
  .column
    display: flex
    flex-direction: column
    gap: .5rem 0

.tempRange
  grid-column: span 2
  display: flex
  align-items: baseline
  gap: 0 .5rem
  span
    white-space: nowrap
  [type="number"]
    width: 80px

.flex
  display: flex
  gap: 0 .5rem

.commodities
  li
    display: grid
    grid-template-columns: 1fr auto
    padding: .75rem 1rem
    margin-top: 1rem
    border: 1px solid var(--secondaryColor)
    border-radius: 4px
    background: var(--blue98)
    p
      grid-column: span 2
    button
      position: relative
      transform: translate(.75rem, -.75rem)
      grid-column: 2
      grid-row: 1

.commodityFields
  display: grid
  grid-template-columns: repeat(5, 1fr)
  gap: 0 1rem
  padding-top: 1rem

.pickup
  mark
    color: var(--secondaryColor)
  li
    position: relative
    padding: 1rem
    margin-top: 1rem
    border-radius: 4px
    background: var(--neutral97)
    button
      position: absolute
      top: 0
      right: 0
    address
      font-size: .875rem

.datePicker.datePicker
  display: flex
  flex: 1
